.chat-screen_texts{
  padding: 0;
  /* padding: 0 0 1300px 0; */
  list-style-type: none;

}
.chat-screen_texts > .left{
  float : left; /* 왼쪽정렬 float를 맨밑에 적음 미적용으로 맨위로 옮기니 적용됨*/
  clear: both; /* 애들이 가로로 뭉쳐있어서 세로로 내려가게 만듬*/
  background-color: white;
  max-width: 370px;
  /* height: 50px; */ 
  /*
  말풍선 크기를 글자수에 맞춰서 하고 싶은데 계속 설정이 안됏음
  width랑 height를 설정해 놓으면 설정된 크기가 있어서 글자에 말풍선이 안맞춰짐
  그래서 widht 를 max width 로 설정한후 height를 지움으로 해결함
  채팅에 글자수가 다 다른데 너비랑 높이를 지정해버리면 
  너비가 넘어가면 글자가 말풍에 안맞춰짐 
  그래서 widht 를 최대값만 지정 후 height를 지움으로 해결함
  */
  margin: 0 0 20px 0;
  padding: 10px;
  border-radius: 8px;
  line-height: 30px;
  position: relative;
  left: 20px;
  
}
.chat-screen_texts > .right{
  float: right;
  clear: both;
  float : right;
  clear:both;
  background-color: white;
  max-width: 370px;
  /* height: 50px; */
  margin: 0 0 20px 0;
  padding: 10px;
  border-radius: 8px;
  line-height: 30px;
  position: relative;
  right: 20px
}

/* 말풍선 꼬리 */
.chat-screen_texts > .left::after{
  content: ""; /*""으로 빈박스 만들수있음 */
  border-right: 16px solid white; 
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 10px;
  left: -10px;
}
.chat-screen_texts > .right::after{
  content: "";
  border-left: 16px solid white;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 10px;
  right: -10px;
}
/* transparent투명하게 바꿀수 있음
   의사요소로 추가하는법 ::after
*/

/* 말풍선 효과*/
.chat-screen_texts > .text:hover{
  background-color: #EAEAEA ;
  transition: background-color 1500ms 200ms ease-in;
}
.chat-screen_texts > .left:hover::after{
  border-right: 16px solid #EAEAEA;
  transition: border-right 1500ms 200ms ease-in;
}
.chat-screen_texts > .right:hover::after{
  border-left: 16px solid #EAEAEA;
  transition: border-left 1500ms 200ms ease-in;
}
/* 과제 문제해결 유도
말풍선 많아져도 문제가 없게끔 페이지를 수정해라*/