.chat-screen_texts{
  padding: 0;
  list-style-type: none;
}
.chat-screen_texts > .text{
  background-color: white;
  width: 280px;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 8px;
  line-height: 30px;
  position: relative;
  left: 20px
}
/* ransparent투명하게 바꿀수 있음
   의사요소로 추가하는법 ::after
*/
.chat-screen_texts > .text::after{
  content: "";
  border-right: 16px solid white;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 10px;
  left: -10px;

}

.chat-screen_texts > .text:hover{
  background-color: #EAEAEA ;
  transition: background-color 1500ms 200ms ease-in;
  
}
.chat-screen_texts > .text:hover::after{
  border-right: 16px solid #EAEAEA;
  transition: border-right 1500ms 200ms ease-in;
}
/* 과제 문제해결 유도
말풍선 많아져도 문제가 없게끔 페이지를 수정해라