* {
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#stop {

  border: none;
  font-size: 25px;
  margin: 20px 30%;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(231, 29, 29);
  color: white;
  cursor: pointer;
}

#now_time {
  
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

#sharp {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
